body {
  color: white !important;
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(128,128,128,1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
 -webkit-box-shadow: inset 0 0 30px rgba(255,255,255,1);
}
.flip {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg);
}
/* /ScrollBar */

.comma-separated-list+.comma-separated-list:before {
  content: ', ';
}
.comma-separated-list:last-child:after {
  content: '.';
}

.forest-map-hidden {
  opacity: 0.04!important;
  -webkit-animation: none!important;
  animation: none!important;
  pointer-events:none;
}
.canvas-hidden {
  opacity: 0.08;
}
#canvas {
  z-index: -10;
}

.toolbox-forest {
  z-index: 10;
  height: 100%;
  padding: 20px;
  float: right;
  margin-left: 30px;
}

.scrollable-maps-container {
  overflow-x: auto;
  overflow-y: visible;
  height: 900px;
  -webkit-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.7);
}
.toolbox {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.7);
}
.toolbox, .scrollable-maps-container {
  background: rgba(64,76,100,1);
  background: -moz-linear-gradient(left, rgba(64,76,100,1) 0%, rgba(43,51,67,1) 59%, rgba(57,68,89,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,76,100,1)), color-stop(59%, rgba(43,51,67,1)), color-stop(100%, rgba(57,68,89,1)));
  background: -webkit-linear-gradient(left, rgba(64,76,100,1) 0%, rgba(43,51,67,1) 59%, rgba(57,68,89,1) 100%);
  background: -o-linear-gradient(left, rgba(64,76,100,1) 0%, rgba(43,51,67,1) 59%, rgba(57,68,89,1) 100%);
  background: -ms-linear-gradient(left, rgba(64,76,100,1) 0%, rgba(43,51,67,1) 59%, rgba(57,68,89,1) 100%);
  background: linear-gradient(to right, rgba(64,76,100,1) 0%, rgba(43,51,67,1) 59%, rgba(57,68,89,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404c64', endColorstr='#394459', GradientType=1 );
  border-radius: 20px;
}

.container, .container-fluid{
  padding-top: 50px;
}

.container-forest {
  width: 100%;
}

.odd{
  background-color: rgba(0,0,0,0.1);
}

.forest-level {
  color: rgba(160,160,160,1);
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
  z-index: 5;
}

.maps .map{
  margin: 10px;
  float: left;
  border-radius: 10px;
  overflow: hidden;
  z-index: -5;
}

.maps .map > div {
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-image: url(../MapIcon/sprites_linear.png); 
}

.d1{
  border-top: 8px solid;
  border-right: 8px solid rgba(0,0,0,0)!important;
  border-bottom: 8px solid rgba(0,0,0,0)!important;
  border-left: 8px solid rgba(0,0,0,0)!important;
}

.d2{
  border-top: 8px solid;
  border-right: 8px solid;
  border-bottom: 8px solid rgba(0,0,0,0)!important;
  border-left: 8px solid rgba(0,0,0,0)!important;
  
}

.d3{
  border-top: 8px solid;
  border-right: 8px solid;
  border-bottom: 8px solid;
  border-left: 8px solid rgba(0,0,0,0)!important;
}

.d4{
  border: 8px solid;
  -webkit-animation: flash linear 1.2s infinite;
  animation: flash linear 1.2s infinite;
}
.d4bis{
  border: 8px solid;
  -webkit-animation: flashbis linear 1.201s infinite;
  animation: flashbis linear 1.201s infinite;
}
@keyframes flashbis {
    0% { opacity: 1; }
    10% { opacity: 0.3; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    10% { opacity: 0.3; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}

.d0,.d{
  background-color: rgba(0,0,0,0.3);
  border: 8px solid rgba(0,0,0,0);
}

.d{
  opacity: 0.3;
}

.Redblade{ 
  border-color: red; 
  background-color: rgba(128,0,0,0.3) !important;
}

.Brinerot{ 
  border-color: deepskyblue;
  background-color: rgba(0,0,128,0.3) !important;
}

.Mutewind{ 
  border-color: lime; 
  background-color: rgba(0,128,0,0.3) !important;
}

blockquote{
  font-size: 1em !important;
}

.popover{
  min-width: 300px !important;
  color: #333 !important;
}

.popover *{
  text-align: center !important;
}

.popover .title{
  font-weight: bold;
}

.btn-sm{
  padding-left:9px;
  padding-right:9px;
}

div[ng-switch="datepickerMode"]{
  padding: 7px;
}


.panel{
  margin-top: 1em;
}

.panel-body{
  color: rgb(51,51,51);
}

.panel-body p:last-child{
  margin-bottom: 0;
}

.funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}