<!DOCTYPE html>
<html ng-app="app" lang="en" ng-cloak>
  <head>
    <title>Warbands Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="js/angular-strap.js"></script>
    <script src="js/angular-strap-tpls.js"></script>
    <script src="js/app.js"></script>
  </head>
  
  <body ng-controller="mainController">
    
    <div class="container-fluid">
      <!-- Map content -->
      <div class="maps col-xs-12 col-md-10">
        <!-- Map levels -->
        <div class="mapSpan col-xs-12" ng-class="rowIsOdd(level)" ng-repeat="(level, maps) in maps" ng-show="showRows(level)">
          <div style="float:left;font-size:30px;height:70px;line-height:70px;">
          {{level}}
          </div>
          <!-- List maps -->
          <div 
               popover-append-to-body="true"
               popover-template="mapPopover.templateUrl" 
               popover-title="{{name | fixName}}" 
               popover-trigger="mouseenter" 
               popover-placement="{{level >= 80 ? 'top' : 'bottom'}}" 
               class="map {{map.band}} d{{map.dots}}" 
               ng-repeat="(name, map) in maps" 
               ng-show="showMaps(map, settings.showDots);">
            
            <div style="background-image:url(MapIcon/{{name | fixQuote}}.png);"></div>
            {{k}}
          </div>
          <!-- /List maps -->
        </div>
        <!-- /Map levels -->
      </div>
      <!-- /Map content -->
      
      <!-- Toolbox -->
      <div class="toolbox col-xs-12 col-md-2">
        <!-- Toggle Show All/4dots/unknown -->
        <div class="funkyradio" ng-click="search=''">
          <div class="funkyradio-default">
            <input type="radio" name="showDots" ng-model="settings.showDots" value="-1" id="showDots1" checked />
            <label for="showDots1">Show all</label>
          </div>
          <div class="funkyradio-default">
            <input type="radio" name="showDots" ng-model="settings.showDots" value="4" id="showDots2"/>
            <label for="showDots2">Show 4 dots only</label>
          </div>
          <div class="funkyradio-default">
            <input type="radio" name="showDots" ng-model="settings.showDots" value="0" id="showDots3" />
            <label for="showDots3">Show unknown only</label>
          </div>
        </div>
        <!-- /Toggle -->
        <!-- Show current 4dots -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Current 4 dots
          </div>
          <div class="panel-body">
            <p ng-repeat="map in dots4" ng-show="dots4.length">{{map | fixName}}</p>
            <p ng-hide="dots4.length">None</p>
          </div>
        </div>
        <!-- /show current 4 dots -->
        <div class="form-group">
          <input type="text" tabindex="1" ng-model="search" class="form-control" placeholder="Quick search">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Time until reset
          </div>
          <div class="panel-body">
            {{timeToReset}}
          </div>
        </div>
      </div>
      <!-- /Toolbox -->
        
        
    </div>

    
  </body>
  
  <script type="text/ng-template" id="mapPopover.html">
    <div>
      <p>Current status: <b>{{map.band == 'None' ? 'Empty' : map.band ? map.band : 'Unknown'}}</b></p>
      <p ng-show="{{map.dots > 0}}">{{map.dots | pluralize : 'dot'}}</p>
      <p ng-hide="{{map.band == 'None' || !map.band}}">Identify: <b>{{bandLoot(map.band)}}</b></p>
      <blockquote style="text-align:left !important" ng-hide="!map.band"><b>{{map.last_report_name}}</b><br/><i>{{map.last_report_text}}</i></blockquote>
    </div>
  </script>
  
  
</html>